# Flask
Flask==1.0.2
Werkzeug==0.14.1
click>=5.0

# Database
Flask-SQLAlchemy==2.3.2
SQLAlchemy>=1.3.0
psycopg2==2.8.2

# Migrations
Flask-Migrate==2.2.1

# SSE
Flask-SSE==0.2.1
redis==3.2.1

# Environment variable parsing
environs==4.0.0

# Other
eventlet==0.24.1
gunicorn==19.9.0
