<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poker App | DEV</title>
    <script src="{{ url_for('static', filename='vendor/phaser_2.6.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='build/output.js') }}"></script>

    <script>
        // TODO: Get this data from initialize API call
        var initialData = {
            tableName: "{{ table.name }}",
            userId: {{ current_user.id if current_user else -1 }},
            playerId: {{ current_user.active_player.id if current_user.active_player else -1 }},
            tableSSEUrl: "{{ url_for('sse.stream', channel=table.name) }}",
            userSSEUrl: "{{ url_for('sse.stream', channel=current_user.id) }}",
            tableUrl: "{{ url_for('show_table', table_name=table.name) }}",
            players: {{ players|safe }}
        };
    </script>

    <style>html, body {
        background-color: #000000;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: block;
    }
    </style>
</head>
<body>

</body>
</html>